# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code Settings
# -----------------------------
.vscode/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Large Dataset (Don't upload)
# -----------------------------
data/full_dataset/

# -----------------------------
# Generated Outputs
# -----------------------------
outputs/